<div class="container-fluid orderConfirmation-Wrap">
	<div class="col-lg-12 col-md-12 orderConfirm">
		<p class="orderConfirm-title">Order Successfully Placed</p>
		<p class="orderConfirm-ID">Order Confirmation #: <span> {{orderConfirmation.order.ID}}</span></p>
		<div class="orderConfirm-mailContent">
			<p class="orderConfirm-mail">Your order details has been sent to : <span>{{orderConfirmation.order.email}}</span></p>
			<p class="orderConfirm-sendToDiff">Send to a Different Email Address : <input type="text" name="sendTo"></span></p>
		</div>
		<div class="orderConfirm-Btn">
			<button class="sendBtn" value="Send">Send</button>
		</div> 
	</div>
</div>
