<div class="container-fluid addressBook-main">
<div class="addressBook-container row">
	<div class="addressBook col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-init="showedit=true">
		<h1>Address Book</h1>
		<div class="search-block">
		<div>
			<i class="fa fa-search"></i>
			<input type="text" placeholder="Search Address" ng-model="search.$"/>
		</div>
		<a ng-click="addAddr = !addAddr">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
				<g>
					<rect x="10" width="4" height="24" />
					<rect y="10" width="24" height="4" />
				</g>
			</svg>
		Add New Address</a>
		</div>
		<!-- ADD NEW ADDRESS STARTS -->
		<div class="add-new-main" ng-hide="!addAddr">
			<div class="add-new-container">
				<h2>Add a New Address</h2>
				<div class="inline-div addr-top">
					<div>
						<p>FirstName</p>
						<input type="text" ng-model="addr.FirstName"/>
					</div>
					<div>
						<p>Last Name</p>
						<input type="text" ng-model="addr.LastName"/>
					</div>
				</div>
				<div class="addr-top">
					<p>ZIP Code</p>
					<input class="zip-code" type="number" ng-model="addr.Zip"/>
				</div>
				<div class="addr-top">
					<p>Address</p>
					<input type="text"  ng-model="addr.Street1"/>
				</div>
				<div class="addr-top">
					<p>Address 2</p>
					<input type="text" ng-model="addr.Street2"/>
				</div>
				<div class="inline-div addr-top">
					<div>
						<p>City</p>
						<input type="text"  ng-model="addr.City"/>
					</div>
					<div>
						<p>State</p>
						<select ng-model="addr.State">
							<option selected>MN</option>
							<option>MN</option>
							<option>MN</option>
						</select>
					</div>
				</div>
				<div class="addr-top">
					<label><input type="checkbox" ng-model="addr.IsShipping">Shipping Address</label>
					<label><input type="checkbox" ng-model="addr.IsBilling">Billing Address</label>
				</div>
				<div class="contact-num addr-top">
					<p>Phone Number</p>
					<input type="number" ng-model="addr.Phone1"/>
					<input type="number" ng-model="addr.Phone2"/>
					<input type="number" ng-model="addr.Phone3"/>
					<div class="addr-top">
						<button type="button" class="save" ng-click="CreateAddress(addr)">SAVE</button>
						<button type="button" ng-click="addAddr = !addAddr">CANCEL</button>
					</div>
				</div>
			</div>
		</div> 
		<!-- EDIT ADDRESS STARTS -->
		<form ng-hide="showedit" class="edit-address-main">
			<div class="edit-address-container" id="top">
				<h2>Edit Address</h2>
				<div class="inline-div addr-top">
					<div>
						<p>FirstName</p>
						<input type="text" ng-model="addressBook.editAddr.FirstName"/>
					</div>
					<div>
						<p>Last Name</p>
						<input type="text" ng-model="addressBook.editAddr.LastName"/>
					</div>
				</div>
				<div class="addr-top">
					<p>ZIP Code</p>
					<input class="zip-code" type="text" ng-model="addressBook.editAddr.Zip"/>
				</div>
				<div class="addr-top">
					<p>Address</p>
					<input type="text"  ng-model="addressBook.editAddr.Street1"/>
				</div>
				<div class="addr-top">
					<p>Address 2</p>
					<input type="text" ng-model="addressBook.editAddr.Street2"/>
				</div>
				<div class="inline-div addr-top">
					<div>
						<p>City</p>
						<input type="text"  ng-model="addressBook.editAddr.City"/>
					</div>
					<div>
						<p>State</p>
						<div uib-dropdown>
							<a href ng-model="addressBook.editAddr.State" uib-dropdown-toggle>
								{{addressBook.stateData}}<i class="fa fa-chevron-down"></i>
							</a>
							<div uib-dropdown-menu>
								<ul>
									<li ng-click="addressBook.stateSelected(addressBook.editAddr.State)">kk</li>
									<li ng-click="addressBook.stateSelected(addressBook.editAddr.State)">RNR</li>
									<li ng-click="addressBook.stateSelected(addressBook.editAddr.State)">PVR</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="contact-num addr-top">
					<p>Phone Number</p>
					<input type="number" ng-model="addressBook.contact.Phone1"/>
					<input type="number" ng-model="addressBook.contact.Phone2"/>
					<input type="number" ng-model="addressBook.contact.Phone3"/>
				</div>
			</div>
			<div class="button-list addr-top">
				<button type="button" class="save" ng-click="addressBook.saveAddress(addressBook.editAddr, addressBook.contact)">SAVE</button>
				<button type="button" ng-click="showedit= !showedit">CANCEL</button>
			</div>
		</form>
		<!-- ADDRESS LIST STARTS -->
			<table>
				<tr ng-repeat="addressList in addressBook.list.addresses" ng-if="addressList.xp.IsDefault == true" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<td>
						<h4>Default Address</h4>
						<div class="custom-ceckbox">
							<label>
								<input type="radio" name="address" checked/>
									<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="0 0 128.7 87.3" style="enable-background:new 0 0 128.7 87.3;" xml:space="preserve">
										<g>
											<path d="M111.9,20.6L65.8,66.7l-8.7,8.7c-1.1,1.1-2.7,1.8-4.3,1.8s-3.2-0.6-4.3-1.8l-8.7-8.7l-23-23c-1.1-1.1-1.8-2.7-1.8-4.3
												s0.6-3.2,1.8-4.3l-0.1,0.1c1.1-1.1,2.7-1.8,4.3-1.8s3.2,0.6,4.3,1.8l27.5,27.3L103.2,12c1.1-1.1,2.7-1.8,4.3-1.8s3.2,0.6,4.3,1.8
												l0,0c1.1,1.1,1.8,2.7,1.8,4.3S113,19.5,111.9,20.6z"/>
										</g>
									</svg>
							</label>
						</div>
					</td>
					<td>
						<h4>Name</h4>
						<p>{{addressList.FirstName}} {{addressList.LastName}}</p>
					</td>
					<td>
						<h4>Address</h4>
						<p>{{addressList.Street1}}</p>
						<p>{{addressList.Street2}}</p>
						<p>{{addressList.City}} {{addressList.State}} {{addressList.Country}} {{addressList.Zip}}</p>
					</td>
					<td>
						<h4>Phone Number</h4>
						<p>{{addressList.Phone}}</p>
					</td>
					<td>
						<a ng-click="addressBook.editAddress(addressList)">Edit</a>
						<a class="bar">|</a>
						<a popover-trigger="none" popover-is-open="showDeliveryToolTip"  ng-click="showDeliveryToolTip = !showDeliveryToolTip" uib-popover-template="deleteAddress.templateUrl">Delete</a>
					</td>
				</tr>
			</table>
			<table>
				<tr ng-repeat="addressList in addressBook.list.addresses | filter:search:strict" ng-if="!addressList.xp.IsDefault" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<td>
						<h4>Make Default Address</h4>
						<div class="custom-ceckbox">
							<label>
								<input type="radio" name="address" ng-value="{{$index}}" ng-click="addressBook.makeDefault(addressList)"/>
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 128.7 87.3" style="enable-background:new 0 0 128.7 87.3;" xml:space="preserve">
									<g>
									<path d="M111.9,20.6L65.8,66.7l-8.7,8.7c-1.1,1.1-2.7,1.8-4.3,1.8s-3.2-0.6-4.3-1.8l-8.7-8.7l-23-23c-1.1-1.1-1.8-2.7-1.8-4.3
										s0.6-3.2,1.8-4.3l-0.1,0.1c1.1-1.1,2.7-1.8,4.3-1.8s3.2,0.6,4.3,1.8l27.5,27.3L103.2,12c1.1-1.1,2.7-1.8,4.3-1.8s3.2,0.6,4.3,1.8
										l0,0c1.1,1.1,1.8,2.7,1.8,4.3S113,19.5,111.9,20.6z"/>
									</g>
								</svg>
							</label>
						</div>
					</td>
					<td>
						<h4>Name</h4>
						<p>{{addressList.FirstName}} {{addressList.LastName}}</p>
					</td>
					<td>	
						<h4>Address</h4>
						<p>{{addressList.Street1}}</p>
						<p>{{addressList.Street2}}</p>
						<p>{{addressList.City}} {{addressList.State}} {{addressList.Country}} {{addressList.Zip}}</p>
					</td>
					<td>
						<h4>Phone</h4>
						<p>{{addressList.Phone}}</p>
					</td>
					<td>
						<a ng-click="addressBook.editAddress(addressList, showedit);">Edit</a>
						<a class="bar">|</a>
						<a popover-trigger="none" popover-is-open="showDeliveryToolTip"  ng-click="showDeliveryToolTip = !showDeliveryToolTip" uib-popover-template="deleteAddress.templateUrl">Delete</a>
					</td>
					
				</tr>
			</table>
			<script type="text/ng-template" id="deleteAddress.html">
				<div click-outside="closePopover()">
					<h2>Delete this Address</h2>
					<button type="button" ng-click="addressBook.deleteAddr(addressList.ID)">DELETE</button>
					<button type="button" ng-click="cancelPopUp()">CANCEL</button>
				</div>
			</script>
	</div> 
</div>
</div>