<!-- <div class="oms_main_container" ng-show='showplp'>
	<h1 ng-if="buildOrder.searchVal">Search Results for <span>"{{buildOrder.searchVal}}"</span> <span class="count">({{buildOrder.prodlist.Items.length}} products)</span></h1>
	<ul class="plp-container">
	    <li class="col-md-3" ng-repeat="products in buildOrder.prodlist.Items track by $index">
	        <div class="plp-block" ng-click="buildOrder.productdata(products.ID)">
	            <div class="product_img"></div>
				<div class="plp-product-data">
					<h2>{{products.Name}}</h2>
					<h3>Option Deluxe</h3>
					<h4>Color Red</h4>
				</div>
	            <div class="price_lst" ng-repeat="pricelist in products.StandardPriceSchedule.PriceBreaks">
	                <h5>{{pricelist.Price | currency}}</h5>
	            </div>
	        </div>
	    </li>
	</ul>
</div> -->

<!-- algolia search starts -->
<div class="oms_main_container" ng-show='showplp'>
    <h1 ng-if="buildOrder.searchval.length > 0 && buildOrder.list.length != 0">Search Results for <span>"{{buildOrder.searchval}}"</span> <span class="count">({{buildOrder.list.length}} products)</span></h1>
    <h1 ng-if="buildOrder.list.length == 0">No results found for <span>"{{buildOrder.searchval}}"</span></h1>
    <ul class="plp-container">
        <li class="col-md-3" ng-repeat="products in buildOrder.list track by $index" ng-if="buildOrder.searchval.length > 0" >
            <div class="plp-block" ng-click="buildOrder.showProduct(products)">
                <div class="product_img">
					<img ng-model="prodImage" ng-src= "{{products.baseImage}}"/>
				</div>
                <div class="plp-product-data">
                    <h2>{{products.Name}}</h2>
                    <h3>Option Deluxe</h3>
                    <h4>Color {{products.xp.SpecsOptions.Color}}</h4>
                </div>
                <div class="price_lst">
                    <h5>{{products.StandardPriceSchedule.PriceBreaks[0].Price | currency}}</h5>
                </div>
            </div>
        </li>
    </ul>

	<!-- product Searched results -->
	<div class="home-search-list" ng-if="buildOrder.searchType == 'Products' &&  buildOrder.searchval.length == 0">
		<h1 ng-if="buildOrder.searchList.length > 0">Search Results for <span>"{{buildOrder.searchTxt}}"</span> <span class="count">({{buildOrder.searchList.length}} products)</span></h1>
		<h1 ng-if="buildOrder.searchList.length == 0">No results found for <span>"{{buildOrder.searchTxt}}"</span></h1>
		<ul class="plp-container">
			<li class="col-md-3" ng-repeat="prod in buildOrder.searchList track by $index">
				<div class="plp-block">
					<div ng-click="buildOrder.showProduct(prod)">
						<div class="product_img">
							<img ng-model="prodImage" ng-src= "{{prod.baseImage}}"/>
						</div>
						<div class="plp-product-data">
							<h2 class="product-name-plp"><span>{{prod.Name}}</span></h2>
							<h4>Color {{prod.xp.SpecsOptions.Color}}</h4>
						</div>
						<div class="price_lst">
							<h5 class="Price">{{prod.StandardPriceSchedule.PriceBreaks[0].Price | currency}}</h5>
						</div>	
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- category Product List starts -->
	<div class="home-search-list" ng-if="buildOrder.searchType == 'plp' &&  buildOrder.searchval.length == 0">
		<h1 ng-if="buildOrder.catList.length == 0">No results found for <span>"{{buildOrder.searchTxt}}"</span></h1>
		<ul class="plp-container">
			<li class="col-md-3" ng-repeat="prod in buildOrder.catList track by $index">
				<div class="plp-block">
					<div ng-click="buildOrder.showProduct(prod)">
						<div class="product_img">
							<img ng-model="prodImage" ng-src= "{{prod.baseImage}}"/>
						</div>
						<div class="plp-product-data">
							<h2 class="product-name-plp"><span>{{prod.Name}}</span></h2>
							<h4>Color {{prod.xp.SpecsOptions.Color}}</h4>
						</div>
						<div class="price_lst">
							<h5 class="Price">{{prod.StandardPriceSchedule.PriceBreaks[0].Price | currency}}</h5>
						</div>	
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>